#cd94ec90364da372eb1a980c7ffb36e5654d7e2cd92cb810be418adb36fe2434 {
    color: white;
    font-size: 20vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*body{
    z-index: 3000 !important;
	box-shadow: inset 0 0 10em darkgreen !important;
	background: linear-gradient( to bottom, #5d9634, #5d9634 50%, #538c2b 50%, #538c2b ) !important;
    background-size: 100% 20px !important;
}*/
